# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*.mp4
*.jpg
*.webm
*.mov
KdenLive GPU Rendering on LINUX!!! #KdenLive #VideoEditing #Linux_info.txt
auto_translator.py
my_token.txt

# cookies file

cookies.txt

auto_commit.py